click==6.7
Flask==0.12.2
Flask-Login==0.4.0
Flask-Script==2.0.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mongoengine==0.15.0
pymongo==3.5.1
pywebview==1.8
six==1.11.0
tinydb==3.7.0
ujson==1.35
Werkzeug==0.12.2
