{% extends "base.html" %}
{% block page_content %}
<div class="section">
    <div class="columns is-centered">
        <div class="column is-one-quarter">
            <div>
                <div class="message is-danger">
                    <div class="message-header">
                        ท่านกำลังจะลบรายการข้อมูล
                    </div>
                    <div class="message-body">
                        <p>ยืนยันที่จะลบรายการ?</p>
                        <br>
                        <div class="is-grouped is-centered">
                            <a class="button is-primary"
                                href="{{ url_for('form.delete_record', confirmed='true', recid=recid) }}">
                                ยืนยัน</a>
                            <a class="button is-danger"
                                href="{{ url_for('form.delete_record', confirmed='false', recid=recid) }}">
                                ยกเลิก</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}