{% extends "base.html" %}

{% block page_content %}
<div class="section">
    <div class="columns is-centered">
        <div class="column is-half is-narrow is-half">
            <div class="box">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-warning">
                    {% for message in messages %}
                        <span class="icon">
                            <i class="fa fa-check"></i>
                        </span>
                        {{ message.decode('utf-8') }}
                    {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
                <table class="table is-hoverable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th colspan="2">Name</th>
                            <th>Created Date</th>
                            <th>Modified Date</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rec in records %}
                        <tr>
                            <td>{{rec['_id'][:8]}}</td>
                            <td>{{rec['data']['personal']['firstname']}}</td>
                            <td>{{rec['data']['personal']['lastname']}}</td>
                            <td>{{rec['data']['created_date']}}</td>
                            <td>{{rec['data']['updated_date']}}</td>
                            <td>
                                <a href="{{ url_for('form.edit', recid=rec['_id']) }}">
                                    <span class="icon"><i class="fa fa-pencil"></i></span>
                                </a>
                            </td>
                            <td>
                                <a href="{{ url_for('form.delete_record', recid=rec['_id']) }}">
                                    <span class="icon"><i class="fa fa-trash-o"></i></span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}