{% extends "base.html" %}
{% block page_content %}
<div class="section">
    <div class="columns">
        <div class="column is-one-quarter">
            <aside class="menu">
                <p class="menu-label">Form ID</p>
                <ul class="menu-list">
                    <li><a>{{ session['form_data']['_id'][:8] }}</a></li>
                </ul>
                <p class="menu-label">แบบประเมิน</p>
                <ul class="menu-list">
                    <li><a class="is-active" href="{{ url_for('form.main') }}">หน้าหลัก</a></li>
                    <li><a href="{{ url_for('form.personalinfo') }}">ข้อมูลส่วนบุคคล</a></li>
                    <li><a>การคัดกรองโรคเบาหวาน</a></li>
                    <li><a href="{{ url_for('form.bloodpressure') }}">การคัดกรองความดันโลหิตสูง : วัดความดันโลหิต</a></li>
                    <li><a href="{{ url_for('form.cvd') }}">
                        การคัดกรองความความเสี่ยงต่อโรคหัวใจและหลอดเลือดสมอง</a></li>
                    <li><a href="{{ url_for('form.dental') }}">
                        การประเมินสุขภาพช่องปาก</a></li>
                </ul>
                <p class="menu-label">เมนู</p>
                <ul class="menu-list">
                    <li><a href="{{ url_for('form.main', startover=True) }}">
                        <span class="icon">
                            <i class="fa fa-plus"></i>
                        </span>
                        <span>เริ่มแบบประเมินใหม่</span>
                        </a>
                    </li>
                    <li><a href="{{ url_for('form.save') }}">
                        <span class="icon">
                            <i class="fa fa-floppy-o"></i>
                        </span>
                        <span>บันทึกลงฐานข้อมูล</span>
                        </a>
                    </li>
                    <li><a href="{{ url_for('form.exit')}}">
                        <span class="icon">
                            <i class="fa fa-sign-out"></i>
                        </span>
                        <span>ออก</span>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="column">
            <div class="box">
                {% if not is_in_progress %}
                <h1 class="title">เริ่มทำแบบประเมินชุดใหม่</h1>
                {% else %}
                <h1 class="title">กำลังทำแบบประเมิน</h1>
                {% endif %}
                <hr>
                <p>
                    <h3 class="subtitle">รหัสแบบประเมิน {{ form_id[:8] }}</h3>
                    <h3 class="subtitle">ประเมินวันที่ {{ survey_datetime.strftime('%D')}} เวลา {{ survey_datetime.strftime('%H:%M:%S') }}</h3>
                </p>
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-danger">
                            <span>ยกเลิก</span>
                            <span class="icon">
                                <i class="fa fa-close"></i>
                            </span>
                        </a>
                    </p>
                    <p class="control">
                        <a class="button is-link" href="{{ url_for('form.personalinfo') }}">
                            <span>เริ่ม</span>
                            <span class="icon">
                                <i class="fa fa-chevron-right"></i>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}