{% extends "base.html" %}
{% block page_content %}
<div class="section">
    <div class="columns">
        <div class="column is-one-quarter">
            <aside class="menu">
                <p class="menu-label">แบบประเมิน</p>
                <ul class="menu-list">
                    <li><a class="is-active">หน้าหลัก</a></li>
                    <li><a>การคัดกรองโรคเบาหวาน</a></li>
                    <li><a>การคัดกรองความดันโลหิตสูง : วัดความดันโลหิต</a></li>
                </ul>
            </aside>
        </div>
        <div class="column">
        </div>
    </div>
</div>
{% endblock %}