{% extends "base.html" %}
{% block page_content %}
<div class="section">
    <div class="columns">
        <div class="column is-one-quarter">
            <aside class="menu">
                <p class="menu-label">แบบประเมิน</p>
                <ul class="menu-list">
                    <li><a href="{{ url_for('form.main') }}">หน้าหลัก</a></li>
                    <li><a href="{{ url_for('form.personalinfo') }}">ข้อมูลส่วนบุคคล</a></li>
                    <li><a>การคัดกรองโรคเบาหวาน</a></li>
                    <li><a href="{{ url_for('form.bloodpressure') }}">การคัดกรองความดันโลหิตสูง : วัดความดันโลหิต</a></li>
                    <li><a href="{{ url_for('form.cvd') }}">
                        การคัดกรองความความเสี่ยงต่อโรคหัวใจและหลอดเลือดสมอง</a></li>
                </ul>
                <p class="menu-label">เมนู</p>
                <ul class="menu-list">
                    <li><a href="{{ url_for('form.main', startover=True) }}">
                        <span class="icon">
                            <i class="fa fa-plus"></i>
                        </span>
                        <span>เริ่มแบบประเมินใหม่</span>
                        </a>
                    </li>
                    <li><a href="/">
                        <span class="icon">
                            <i class="fa fa-floppy-o"></i>
                        </span>
                        <span>บันทึกลงฐานข้อมูล</span>
                        </a>
                    </li>
                    <li><a href="{{ url_for('form.exit')}}">
                        <span class="icon">
                            <i class="fa fa-sign-out"></i>
                        </span>
                        <span>ออก</span>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="column">
            <div class="box">
                {% if success %}
                <div class="message is-success">
                    <div class="message-header">
                        บันทึกลงฐานข้อมูลเรียบร้อย
                    </div>
                {% else %}
                <div class="message is-danger">
                    <div class="message-header">
                        เกิดความผิดพลาดในการบันทึกข้อมูล
                    </div>
                {% endif %}
                    <div class="message-body">
                        <p>
                            <h3 class="subtitle">รหัสแบบประเมิน {{ form_id[:8] }}</h3>
                            <h3 class="subtitle">บันทึกข้อมูลล่าสุดเมื่อวันที่ {{ updated_datetime.strftime('%D')}} เวลา {{ updated_datetime.strftime('%H:%M:%S') }}</h3>
                        </p>
                    </div>
                </div>
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-success" href="{{ url_for('form.main') }}">
                            <span>OK</span>
                            <span class="icon">
                                <i class="fa fa-check"></i>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}