{% extends "base.html" %}

{% block page_content %}
<div class="section">
    <div class="columns is-centered">
        <div class="column is-half is-narrow is-half">
            <form class="box" action="{{ url_for('auth.login') }}" method="POST">
                <input type="hidden" name="user_id" value="{{ account.id }}">
                <p class="subtitle">
                    <span class="icon is-large">
                        <i class="fa fa-user-circle-o fa-2x"></i>
                    </span>
                    {{ account.firstname }} {{ account.lastname}}
                </p>
                <div class="field">
                    <div class="control">
                        <input name="passcode" class="input" width=20 type="password" placeholder="รหัสผ่าน 6 หลัก">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}