{% extends "base.html" %}
{% block page_content %}
<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-two-thirds box">
                <p class="has-text-centered is-size-3">
                    <strong>ระบบจัดการข้อมูลคัดกรองสุขภาพผู้สูงอายุในประเทศไทย</strong>
                </p>
                <p class="has-text-centered is-size-6">
                    Version 1.01<br>
                    พัฒนาโดย สถาบันเวชศาสตร์ผู้สูงอายุ กรมการแพทย์ และ คณะเทคนิคการแพทย์ มหาวิทยาลัยมหิดล
                </p>
                <p class="has-text-centered is-size-6">
                    อีเมลผู้พัฒนาหลัก: likit.pre@mahidol.edu
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}