{% extends "base.html" %}
{% block page_content %}
<div class="section">
    <div class="container">
    <div class="card is-centered">
        <div class="card-content">
                <p class="title has-text-centered">
                    ระบบจัดการข้อมูลคัดกรองสุขภาพผู้สูงอายุในประเทศไทย
                </p>
                <div class="columns is-centered">
                    <div class="column is-half is-narrow is-half">
                        <nav class="panel">
                            <p class="panel-heading">
                                เลือกบัญชีเพื่อลงทะเบียนเข้าสู่ระบบ
                            </p>
                            {% for account in accounts %}
                            <a class="panel-block"
                                href="{{ url_for('auth.login', user_id=account.id) }}">
                                <span class="panel-icon">
                                    <i class="fa fa-user"></i>
                                </span>
                                {{ account.name }}
                            </a>
                            {% endfor %}
                        </nav>
                    </div>
                    <div class="column">
                        <p class="box">
                            หากยังไม่เคยลงทะเบียนเพื่อใช้งานระบบ<br>
                            <a href="{{ url_for('register') }}" class="button">ลงทะเบียนที่นี่</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}